.right-side {
    background: $color-right-side;
    width: 60%;
    padding: rem(10);

    .controls {
        display: flex;
        justify-content: flex-end;
        padding: rem(7) rem(10);

        color: $color-font3;

        a.add-task {
            font-size: rem(24);
            padding: 0 rem(2);
            line-height: 0.8;
            border-radius: rem(5);

            &:hover {
                background: transparentize($color-font3, 0.8);
                cursor: pointer;
            }
        }
    }

    .todos {
        padding: rem(8);

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color-social;

            h1 {
                margin: rem(10) 0 rem(15);
            }
            
            span.count {
                font-size: rem(32);
                // font-weight: 500;
            };
        }

        .completed {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: rem(1) solid lighten($color-font3, 10%);
            padding-bottom: rem(2);
            margin-right: rem(-13);
            ;
            font-size: rem(14);

            a {
                color: $color-social;
                margin-right: rem(9);
                padding: rem(5);
                border-radius: rem(3);

                &:hover {
                    background: transparentize($color-font3, 0.8);
                    cursor: pointer;
                }
            }
        }

        .task {
            display: flex;
            margin-top: rem(5);
            
            .task-detail {
                flex-grow: 1;
                
                padding: rem(3) 0;
                border-bottom: rem(1) solid lighten($color-font3, 10%);
                margin-left: rem(10);
                margin-right: rem(-13);

                h4 {
                    font-size: rem(14);
                }
                p {
                    font-size: rem(12);
                    color: $color-font2;
                    margin-top: rem(3);
                    margin-bottom: rem(5);
                }
            }
        }
    }
}