.right-side {
    background: $color-right-side;
    width: 60%;
    padding: 10px;

    .controls {
        display: flex;
        justify-content: flex-end;
        padding: 7px 10px;

        color: $color-font3;

        a.add-task {
            font-size: 24px;
            padding: 0 2px;
            line-height: 0.8;
            border-radius: 5px;

            &:hover {
                background: transparentize($color-font3, 0.8);
                cursor: pointer;
            }
        }
    }

    .todos {
        padding: 8px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color-social;

            h1 {
                margin: 10px 0 15px;
            }
            
            span.count {
                font-size: 32px;
                // font-weight: 500;
            };
        }

        .completed {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid lighten($color-font3, 10%);
            padding-bottom: 2px;
            margin-right: -13px;
            ;
            font-size: 14px;

            a {
                color: $color-social;
                margin-right: 9px;
                padding: 5px;
                border-radius: 3px;

                &:hover {
                    background: transparentize($color-font3, 0.8);
                    cursor: pointer;
                }
            }
        }

        .task {
            display: flex;
            margin-top: 5px;
            
            .task-detail {
                flex-grow: 1;
                
                padding: 3px 0;
                border-bottom: 1px solid lighten($color-font3, 10%);
                margin-left: 10px;
                margin-right: -13px;

                h4 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                    color: $color-font2;
                    margin-top: 3px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}